.image2{
   display: none;
}


body {
  font-family: 'Alfa Slab One', cursive;

}
/* TITLE PAGE PLUS NAVBAR */

.car-top {
  text-align: center;
  position: relative;

}
#navigation {
    position: relative;
    top: 0;

    padding-left: 50px;
    background-color: white;

    font-size: 20px;
}

.menu {
  width: 200px;

}
.title-img {
position: static;
width: 100%;



}
.logo {
  height: 32vw;


  position: absolute;

}



/* ABOUT */
#about {
  padding: 5% 14%;
  background-color: #17161E;
  color: white;


}
.about-text {

  margin: auto;
  padding: 5% 0;
  text-align: center;

  font-size: 20px;
}

/* NEWS */



.CSI {
  padding:3%;
  background-color: white;
}


.videoWrapper{
  position: relative;
  padding: 35% 0;/* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-img {
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 100%;
}
#gigs {
  background-color: #17161E;
  padding: 2%;
  color: white;
}
.CSI {
  background-color: #FB5928;
}
.gig-guide {
  margin: 1%;
  text-align: center;
  background-color: #17161E;
}

td {

  width: 150px;
}

#call2action {
  text-align: center;
  background-color: #17161E;
  color: white;

}
.c2aText {
  color: white;
  margin: auto;
  vertical-align: middle;
}
.c2aText:hover {
  color: #FB5928;
}
h1 {
 vertical-align: middle;
}

#footer {
  text-align: center;
}
.icons {
  color: black;
  font-size: 2rem;
  padding: 5% 2% 2% 2%;
}

.icons:hover {
  color: #FB5928;
}


@media only screen and (max-width: 768px){
     .image1{
     display: none;
   }

   .image2{
     display: block;
     -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
     filter: blur(5px);
   }
}

@media (max-width: 768px) {
  .about-img {
    height: 200px;
  }
  .title-img {
    height: 50vh;
  }
  .carousel-caption {
    text-align: center;
  }

.sign {
  font-family: roboto;
  font-size: 15px;
}
@media (max-width: 1000px) {
  .title-img {
    height: 70vh;
  }
}
