.linebr {
  display: none;
}
.about-textM {
  margin: auto;

  text-align: center;
  padding: auto;
  font-size: 20px;
}

.abt-txtDF {
  margin: auto;
  text-align: center;
  padding: auto;
  font-size: 30px;
}

.images2 {
  display: none;
}



.newscard {
  padding: 5%;
}
body {
  font-family: 'Alfa Slab One', cursive;

}
/* TITLE PAGE PLUS NAVBAR */
.carcap {
  text-align: left;
  width: 300px;
}
.car-top {
  text-align: center;
  position: relative;

}
#navigation {
    position: relative;
    top: 0;

    padding-left: 50px;
    background-color: white;

    font-size: 20px;
}
#newvid
{
  padding: 15% 5% 5% 5%;
  background-color: #FB5928;
}
.streampic {
  height: 80%;
  width: 80%;
  padding-bottom: 5%;
}
.menu {
  width: 200px;
  text-align: center;

}
.newsbtn {
  background-color: #FB5928;
  color: white;
}
.title-img {
position: static;
width: 100%;
height: auto;
}
.logo {
  height: 32vw;


  position: absolute;

}
#news {
  background-color: #17161E;
}

/* ABOUT */
#about {
  padding: 5% 10%;
  background-color: #17161E;
  color: white;


}
.about-text {

  margin: auto;
  padding: 5% 0;
  text-align: justify;

  font-size: 20px;
}

/* NEWS */



.CSI {
  padding:3%;
  background-color: white;
}


.videoWrapper{
  position: relative;
  padding: 35% 0;/* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.about-img {
  height: 80%;
  display: block;
  margin: auto;
  border-radius: 100%;
}
#gigs {
  background-color: #17161E;
  padding: 2%;
  color: white;

}
.CSI {
  background-color: #FB5928;
}

.gig-guide {
  margin: 1%;
  text-align: center;
  background-color: #17161E;
}

td {

  width: 150px;
}

#call2action {
  text-align: center;
  background-color: #17161E;
  color: white;
  padding: 5%;

}
.c2aText {
  color: white;
  margin: auto;
  vertical-align: middle;
}
.c2aText:hover {
  color: #FB5928;
}
h1 {
 vertical-align: middle;
}

#footer {
  text-align: center;
}
.icons {
  color: black;
  font-size: 2rem;
  padding: 5% 2% 2% 2%;
}

.icons:hover {
  color: #FB5928;
}


@media only screen and (max-width: 768px){
     .image1{
     display: none;
   }

   .images2{
     display: block;
   }

   .linebr {
     display: block;
   }
}

@media (max-width: 768px) {
  .about-img {
    height: 200px;
  }

  .carcap {
    text-align: center;
    margin: auto;
    width: auto;


  }

.sign {
  font-family: roboto;
  font-size: 15px;
}

@media only screen and (max-width: 768px){
     .image1{
     display: none;
   }
.about-text {
  text-align: center;
}

   .images2{
     display: block;
      width: 100%;
   }
}
